<template>
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M13.6987 2.00333L11.7799 2C9.62416 2 8.23102 3.54552 8.23102 5.93762V7.75313H6.30172C6.135 7.75313 6 7.89927 6 8.07954V10.71C6 10.8903 6.13516 11.0363 6.30172 11.0363H8.23102V17.6738C8.23102 17.854 8.36603 18 8.53274 18H10.6983C10.865 18 11 17.8539 11 17.6738V11.0363H13.6075C13.7742 11.0363 13.9092 10.8903 13.9092 10.71L13.9101 8.07954C13.9101 7.99299 13.8782 7.91009 13.8217 7.84884C13.7652 7.78758 13.6883 7.75313 13.6082 7.75313H11V6.2141C11 5.47438 11.5147 5.09886 12.4058 5.09886L13.6984 5.09836C13.865 5.09836 14 4.95222 14 4.77211V2.32958C14 2.14964 13.8652 2.00366 13.6987 2.00333Z"
      fill="black"
    />
  </svg>
</template>
