<template>
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M12.8926 2.5H6.35734C4.23037 2.5 2.5 4.23037 2.5 6.35734V12.8928C2.5 15.0196 4.23037 16.75 6.35734 16.75H12.8928C15.0196 16.75 16.75 15.0196 16.75 12.8928V6.35734C16.75 4.23037 15.0196 2.5 12.8926 2.5V2.5ZM9.625 13.5214C7.47649 13.5214 5.72862 11.7735 5.72862 9.625C5.72862 7.47649 7.47649 5.72862 9.625 5.72862C11.7735 5.72862 13.5214 7.47649 13.5214 9.625C13.5214 11.7735 11.7735 13.5214 9.625 13.5214ZM13.6145 6.64751C12.9796 6.64751 12.4632 6.1311 12.4632 5.49618C12.4632 4.86126 12.9796 4.34474 13.6145 4.34474C14.2495 4.34474 14.766 4.86126 14.766 5.49618C14.766 6.1311 14.2495 6.64751 13.6145 6.64751Z"
      fill="black"
    />
    <path
      d="M9.62497 7.03418C8.1964 7.03418 7.03406 8.19643 7.03406 9.62509C7.03406 11.0537 8.1964 12.216 9.62497 12.216C11.0536 12.216 12.2159 11.0537 12.2159 9.62509C12.2159 8.19643 11.0536 7.03418 9.62497 7.03418Z"
      fill="black"
    />
    <path
      d="M13.6145 5.18018C13.4404 5.18018 13.2986 5.32195 13.2986 5.49611C13.2986 5.67028 13.4404 5.81205 13.6145 5.81205C13.7888 5.81205 13.9306 5.67039 13.9306 5.49611C13.9306 5.32184 13.7888 5.18018 13.6145 5.18018Z"
      fill="black"
    />
  </svg>
</template>
