<script setup lang="ts">
const props = defineProps({
  title: String
})
</script>

<template>
  <h1 class="text-base lg:text-xl font-medium mb-2 text-[#1D2D35] font-sans">
    {{ title }}
  </h1>
</template>
