<script lang="ts">
import Clock from '../../assets/icons/clock.vue'

export default {
  name: 'CardText',
  props: {
    item: {
      type: Object
    }
  },
  components: {
    Clock
  },
  setup(props) {
    return {
      item: props.item,
    }
  }
}
</script>

<template>
  <div class="py-4">
    <p class="text-xs text-[#585EE3] flex items-center mb-2">
      <Clock class="mr-2" />
      {{ item?.date }}
    </p>
    <p class="text-sm text-[#1D2D35] cursor-pointer">
      {{ item?.title }}
    </p>
  </div>
</template>
