<script lang="ts">
import Slider from '../slider/Slider.vue'
export default {
  name: 'CardThumbs',
  props: {
    data: {
      type: Object
    }
  },
  components: {
    Slider
  },
  setup(props) {
    return {
      item: props.data
    }
  }
}
</script>

<template>
  <div class="rounded-2xl overflow-hidden p-3 bg-white h-full card-thumbs">
    <Slider :data="item?.imgs" class="thumbs-img" />
    <div class="pt-2 pb-1">
      <span
        class="inline-block bg-[#F5F8FF] text-[#1D2D35] rounded-full px-2 py-1 text-xs mr-2 mb-1"
      >
        {{ item?.date }}
      </span>
      <span
        class="inline-block bg-[#F5F8FF] text-[#1D2D35] rounded-full px-2 py-1 text-xs mr-2 mb-1"
      >
        {{ item?.bage }}
      </span>
    </div>
    <div>
      <h5
        class="font-bold text-lg lg:text-2xl leading-7 lg:leading-10 text-[#1D2D35] text-nowrap-2 cursor-pointer"
      >
        {{ item?.title }}
      </h5>
      <p class="text-[#657178] text-base mt-2 text-nowrap">
        {{ item?.desc }}
      </p>
    </div>
  </div>
</template>
