<script lang="ts">
export default {
  name: 'Card',
  props: {
    data: {
      type: Object
    }
  },
  setup(props) {
    return {
      item: props.data
    }
  }
}
</script>

<template>
  <div class="rounded-2xl overflow-hidden p-3 bg-white cursor-pointer">
    <img class="w-full rounded-2xl object-cover" :src="item?.img" alt="Image" />
    <div class="pt-2 pb-1">
      <span
        class="inline-block bg-[#F5F8FF] text-[#1D2D35] rounded-full px-2 py-1 text-xs mr-2 mb-1"
      >
        {{ item?.date }}
      </span>
      <span
        class="inline-block bg-[#F5F8FF] text-[#1D2D35] rounded-full px-2 py-1 text-xs mr-2 mb-1"
      >
        პოლიტიკა
      </span>
    </div>
    <h5 class="font-bold text-base text-[#1D2D35] text-nowrap">
      ქვემო ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების ინფრასტრუქტურული პროექტები დაიწყება
    </h5>
  </div>
</template>
