<script lang="ts">
export default {
  name: 'CardHorizontal',
  props: {
    item: {
      type: Object
    }
  },
  setup(props) {
    return {
      item: props.item
    }
  }
}
</script>

<template>
  <div class="py-4">
    <div class="grid grid-cols-12 items-center rounded-2xl overflow-hidden cursor-pointer">
      <div class="col-span-4">
        <img class="w-full rounded-2xl aspect-square object-cover" :src="item?.img" alt="Image" />
      </div>
      <div class="col-span-8">
        <h5 class="text-sm font-normal p-2 text-[#1D2D35]">
          {{ item?.title }}
        </h5>
      </div>
    </div>
  </div>
</template>
