<script lang="ts">
export default {
  name: 'CardHorizontal',
  props: {
    item: {
      type: Object
    }
  },
  setup(props) {
    return {
      item: props.item
    }
  }
}
</script>

<template>
  <div class="rounded-2xl overflow-hidden p-3 bg-[#F5F8FF] cursor-pointer">
    <img class="w-full rounded-2xl object-cover" :src="item?.img" alt="Image" style="height: 120px;" />
    <div>
      <h5 class="text-sm font-normal mt-2 text-[#1D2D35]">
        {{ item?.title }}
      </h5>
    </div>
  </div>
</template>
