<script setup lang="ts">
import Card from '../components/cards/Card.vue'
import CardThumbs from '../components/cards/CardThumbs.vue'
import Popular from '../components/popular/Popular.vue'
import News from '../components/news/News.vue'
import Carusel from '../components/carusel/Carusel.vue'
import Right from '../assets/icons/right.vue'
import Left from '../assets/icons/left.vue'
import { news_data, carousel_data, card_data, card_thumbs_data } from '../data'
</script>

<template>
  <main>
    <div class="bg-[#F0F4F5] py-4 md:py-8 lg:py-11">
      <div class="container mx-auto px-3">
        <div class="grid grid-cols-12 gap-6 md:gap-8 mb-6 md:mb-10 lg:mb-16">
          <div class="col-span-12 lg:col-span-9">
            <CardThumbs :data="card_thumbs_data" />
          </div>
          <div class="col-span-12 lg:col-span-3 hidden lg:block">
            <News :data="news_data" />
          </div>
        </div>
        <div class="grid grid-cols-12 gap-6 md:gap-8 mb-6 md:mb-8 lg:mb-16 block lg:hidden">
          <div class="col-span-12 md:col-span-6">
            <News :data="news_data" />
          </div>
          <div class="col-span-12 md:col-span-6">
            <Popular :data="news_data" />
          </div>
        </div>
        <div class="grid grid-cols-12 gap-6 md:gap-8">
          <div class="col-span-12 lg:col-span-9">
            <div class="mb-6 md:mb-10 lg:mb-16 rounded-2xl overflow-hidden p-6 pr-0 bg-white">
              <div class="flex items-center justify-between mb-4 pr-6">
                <h1 class="text-base font-medium text-[#1D2D35] font-sans">ცნობილი ფაქტები</h1>
                <div class="gap-x-2 flex items-center hidden md:block">
                  <button
                    type="button"
                    class="bg-white hover:bg-slate-200 text-white font-bold p-2.5 rounded-full shadow-md carousel-button-prev mr-4"
                  >
                    <Left />
                  </button>
                  <button
                    type="button"
                    class="bg-white hover:bg-slate-200 text-white font-bold p-2.5 rounded-full shadow-md carousel-button-next"
                  >
                    <Right />
                  </button>
                </div>
              </div>
              <Carusel :data="carousel_data" />
            </div>
            <div class="grid grid-cols-12 gap-6 md:gap-8">
              <div class="col-span-12 lg:col-span-4 block lg:hidden">
                <Card class="card-lg" :data="card_data" />
              </div>
              <div class="col-span-12 lg:col-span-4 md:col-span-6">
                <Card class="mb-5 card" :data="card_data" />
                <Card class="card" :data="card_data" />
              </div>
              <div class="col-span-12 lg:col-span-4 hidden lg:block">
                <Card class="card-lg" :data="card_data" />
              </div>
              <div class="col-span-12 lg:col-span-4 md:col-span-6">
                <Card class="mb-8 card" :data="card_data" />
                <Card class="card" :data="card_data" />
              </div>
            </div>
          </div>
          <div class="col-span-12 lg:col-span-3 hidden lg:block">
            <Popular :data="news_data" />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
