<script lang="ts">
import CardSimple from '../cards/CardSimple.vue'
import Title from '../title/Title.vue'

interface Item {
  id?: number
  title?: string
  desc?: string
  img?: string
}

export default {
  name: 'Carusel',
  props: {
    data: {
      type: Array
    }
  },
  components: {
    CardSimple,
    Title
  },
  setup(props) {
    const spaceBetween = 22
    const onProgress = (e: any) => {
      const [swiper, progress] = e.detail
    }

    const onSlideChange = (e: any) => {}

    return {
      spaceBetween,
      onProgress,
      onSlideChange,
      data: props.data as Item[]
    }
  }
}
</script>
<template>
  <swiper-container
    :navigation="{
      nextEl: '.carousel-button-next',
      prevEl: '.carousel-button-prev'
    }"
    :slides-per-view="'auto'"
    :space-between="spaceBetween"
    :centered-slides="false"
    @progress="onProgress"
    @slidechange="onSlideChange"
  >
    <swiper-slide v-for="item in data" :key="item" class="w-5/6 md:w-2/6">
      <CardSimple :item="item" />
    </swiper-slide>
  </swiper-container>
</template>
