<script setup lang="ts">
import { ref, computed, onMounted, onUnmounted } from 'vue'
import { RouterLink } from 'vue-router'
import Inst from '../../assets/icons/inst.vue'
import Fb from '../../assets/icons/fb.vue'
import Search from '../../assets/icons/search.vue'
import Burger from '../../assets/icons/burger.vue'

const routeLinks = ref([
  { to: '/', text: 'პოლიტიკა' },
  { to: '/', text: 'საზოგადოება' },
  { to: '/', text: 'სამართალი' },
  { to: '/', text: 'ბიზნესი & ეკონომიკა' },
  { to: '/', text: 'მსოფლიო' },
  { to: '/', text: 'ხელოვნება' },
  { to: '/', text: 'სპორტი' },
  { to: '/', text: 'რელიგია' },
  { to: '/', text: 'კრიმინალი' }
])

const windowWidth = ref(window.innerWidth)

const numberOfDirectLinks = computed(() => {
  let linksToShow = 0

  switch (true) {
    case windowWidth.value >= 1536:
      linksToShow = 7
      break
    case windowWidth.value >= 1280:
      linksToShow = 5
      break
    case windowWidth.value >= 1024:
      linksToShow = 3
      break
    default:
      linksToShow = 0
  }

  return linksToShow
})

const firstThreeLinks = computed(() => routeLinks.value.slice(0, numberOfDirectLinks.value))
const remainingLinks = computed(() => routeLinks.value.slice(numberOfDirectLinks.value))

const updateWidth = () => {
  windowWidth.value = window.innerWidth
}

onMounted(() => {
  window.addEventListener('resize', updateWidth)
})

onUnmounted(() => {
  window.removeEventListener('resize', updateWidth)
})

const isDropdownOpen = ref(false)

const toggleDropdown = () => {
  isDropdownOpen.value = !isDropdownOpen.value
}

const closeDropdown = () => {
  isDropdownOpen.value = false
}
</script>

<template>
  <header class="bg-white">
    <div class="container mx-auto px-3">
      <nav class="flex items-center justify-between py-6" aria-label="Global">
        <div class="flex items-center lg:gap-x-12">
          <div class="flex items-center">
            <RouterLink to="/" class="-m-1.5 p-1.5">
              <img class="w-auto" src="../../assets/logo.svg" alt="Logo" />
            </RouterLink>
            <div class="divider bg-[#F0F4F5] ml-6 hidden lg:block lg:items-center"></div>
          </div>

          <div class="lg:flex lg:gap-x-8 items-center hidden lg:block">
            <RouterLink
              v-for="link in firstThreeLinks"
              :to="link.to"
              :key="link.to"
              class="-m-1.5 p-1.5 text-[#657178] font-normal hover:text-[#585EE3] font-sans text-sm leading-6"
            >
              {{ link.text }}
            </RouterLink>
            <div v-if="remainingLinks.length > 0" class="dropdown inline-block relative">
              <a
                href="#"
                class="text-[#657178] font-normal hover:text-[#585EE3] font-sans text-sm leading-6 align-text-bottom"
              >
                სხვა
              </a>
              <ul
                class="dropdown-menu absolute hidden bg-white rounded-2xl overflow-hidden shadow-md"
              >
                <li v-for="link in remainingLinks">
                  <RouterLink
                    :to="link.to"
                    class="bg-white hover:bg-[#F0F4F5] py-3 px-6 text-[#657178] font-normal hover:text-[#585EE3] font-sans block"
                  >
                    <span class="text-sm leading-6">{{ link.text }}</span>
                  </RouterLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="gap-x-2 flex items-center">
          <div class="gap-x-2 hidden md:flex md:items-center">
            <button
              type="button"
              class="bg-slate-50 hover:bg-slate-200 text-white font-bold p-2 rounded-full"
            >
              <Inst />
            </button>
            <button
              type="button"
              class="bg-slate-50 hover:bg-slate-200 text-white font-bold p-2 rounded-full"
            >
              <Fb />
            </button>
          </div>
          <form class="flex items-center w-56 hidden md:flex md:items-center">
            <div class="relative w-full">
              <input
                type="text"
                id="voice-search"
                class="border border-slate-50 bg-slate-50 text-s-900 text-sm rounded-full placeholder-gray-400 focus:border-[#585EE3] focus:outline-none block w-full px-4 p-3"
                placeholder="ძიება"
              />
              <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3">
                <Search />
              </button>
            </div>
          </form>
          <button
            type="button"
            class="bg-slate-50 hover:bg-slate-200 text-white font-bold p-2.5 rounded-full md:hidden"
          >
            <Search />
          </button>
          <button
            type="button"
            class="bg-slate-50 hover:bg-slate-200 text-white font-bold p-2.5 rounded-full relative lg:hidden"
            @click="toggleDropdown"
          >
            <Burger />
          </button>
        </div>
      </nav>
    </div>
    <div v-if="isDropdownOpen" @click="closeDropdown" class="menu-dropdown">
      <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <div class="container mx-auto px-3 mb-6">
          <div class="lg:flex lg:gap-x-8 items-center">
            <RouterLink
              v-for="link in remainingLinks"
              :to="link.to"
              :key="link.to"
              class="bg-white hover:bg-[#F0F4F5] py-3 text-[#657178] font-normal hover:text-[#585EE3] font-sans block"
            >
              {{ link.text }}
            </RouterLink>
          </div>
          <div class="gap-x-2 flex items-center center justify-center">
            <div class="gap-x-2 flex md:hidden md:items-center">
              <button
                type="button"
                class="bg-slate-50 hover:bg-slate-200 text-white font-bold p-2 rounded-full"
              >
                <Inst />
              </button>
              <button
                type="button"
                class="bg-slate-50 hover:bg-slate-200 text-white font-bold p-2 rounded-full"
              >
                <Fb />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
