@import url("//cdn.web-fonts.ge/fonts/bpg-banner-caps/css/bpg-banner-caps.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&family=Nunito:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-color: #FFFFFF;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #FFFFFF;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
}

.font-sans	{
  font-family: "BPG Banner Caps", sans-serif;
}

.font-noto-sans	{
  font-family: 'Noto Sans Georgian', sans-serif;
}

body {
  font-family: 'Noto Sans Georgian', sans-serif;
}

.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left-section {
  width: 100%;
  height: 100%;
  max-height: 620px;
  overflow: hidden;

  @media only screen and (max-width: 1023px) {
    max-height: 330px;
  }
}

.left-section-content {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

.left-section-content::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}
 
.left-section-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
 
.left-section-content::-webkit-scrollbar-thumb {
  background-color: #657178;
  outline: 0;
  border-radius: 20px;
}

.slider-buttons-content {
  position: absolute;
  z-index: 99;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  opacity: .7;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
  opacity: .7;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 30px !important;
  background: #FFFFFF !important;
  opacity: .7 !important;
}

.divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
}

.card {
  height: 200px;
}

.card img {
  height: calc(100% - 66px);
}

.card-lg {
  height: 420px;
  
  @media only screen and (max-width: 768px) {
    height: 300px;
  }
}

.card-lg img {
  height: calc(100% - 66px);
}

.card-thumbs {
  height: 620px;
    
  @media only screen and (max-width: 768px) {
    height: 400px;
  }
}

.card-thumbs .thumbs-img {
  height: calc(100% - 154px);
}

.dropdown {
  position: relative;
  z-index: 999;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.menu-dropdown {
  position: absolute;
  z-index: 999;
  top: 90px;
  width: 100%;
  background: white;
}