<script lang="ts">
import CardText from '../cards/CardText.vue'
import Title from '../title/Title.vue'

interface Item {
  id?: number
  title?: string
  desc?: string
  img?: string
}

export default {
  name: 'News',
  props: {
    data: {
      type: Array
    }
  },
  components: {
    CardText,
    Title
  },
  setup(props) {
    return {
      data: props.data as Item[]
    }
  }
}
</script>

<template>
  <div class="bg-white rounded-2xl px-4 pt-6 pb-0 left-section">
    <Title title="ყველა სიახლე" />
    <div class="grid grid-row-12 divide-y divide-dashed left-section-content">
      <CardText v-for="item in data" :key="item.id" :item="item" />
    </div>
  </div>
</template>
