<script lang="ts">
import Right from '../../assets/icons/right.vue'
import Left from '../../assets/icons/left.vue'

export default {
  name: 'Slider',
  props: {
    data: {
      type: Array
    }
  },
  components: {
    Right,
    Left
  },
  setup(props) {
    const spaceBetween = 10
    const onProgress = (e: any) => {
      const [swiper, progress] = e.detail
    }

    const onSlideChange = (e: any) => {}

    return {
      spaceBetween,
      onProgress,
      onSlideChange,
      imgs: props.data as (string | undefined)[]
    }
  }
}
</script>
<template>
  <div class="relative h-full">
    <div class="gap-x-2 flex items-center slider-buttons-content">
      <button
        type="button"
        class="bg-white hover:bg-slate-200 text-white font-bold p-2.5 rounded-full shadow-md slider-button-prev hidden md:block"
      >
        <Left />
      </button>
      <button
        type="button"
        class="bg-white hover:bg-slate-200 text-white font-bold p-2.5 rounded-full shadow-md slider-button-next hidden md:block"
      >
        <Right />
      </button>
    </div>
    <swiper-container
      class="h-full"
      :navigation="{
        nextEl: '.slider-button-next',
        prevEl: '.slider-button-prev'
      }"
      :slides-per-view="1"
      :space-between="spaceBetween"
      :centered-slides="false"
      :pagination="true"
      @progress="onProgress"
      @slidechange="onSlideChange"
    >
      <swiper-slide v-for="img in imgs" :key="img">
        <img class="w-full h-full rounded-2xl object-cover" :src="img" alt="image" />
      </swiper-slide>
    </swiper-container>
  </div>
</template>
