<script lang="ts">
import CardHorizontal from '../cards/CardHorizontal.vue'
import Title from '../title/Title.vue'

interface Item {
  id?: number
  title?: string
  desc?: string
  img?: string
}

export default {
  name: 'Popular',
  props: {
    data: {
      type: Array
    }
  },
  components: {
    CardHorizontal,
    Title
  },
  setup(props) {
    return {
      data: props.data as Item[]
    }
  }
}
</script>

<template>
  <div class="bg-white rounded-2xl px-4 pt-6 pb-0 left-section">
    <Title title="პოპულარული" />
    <div class="grid grid-row-12 divide-y divide-dashed left-section-content">
      <CardHorizontal v-for="item in data" :key="item?.id" :item="item" />
    </div>
  </div>
</template>
